*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;  
    }

h1{
   text-align: center;
}

h2{
    font-size: large;
}

.links{
    background-color: grey;
        color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
}

footer, i{
    color: white;
text-align: center;

background-color: black;
}
